.App input, .App button {
    margin: 20px;
    padding: 10px 20px;
    border: 1,5px solid #ffd7d7;
    background-color: #fff;
}

.App button {
    cursor: pointer;
}
.App button:hover {
    background-color: #000;
    color: white;
    background-color: black;
}
.result {
margin-left: 45px;
padding-top: 15px;
border-bottom: 2px solid green;
}

.result h3, .result h4 {
    font-weight: normal;
}

.result em {
    font-weight: bold;
}